---
layout: default
---

<section class="content-block">{{ content }}</section>

<section class="content-block">
  <header>
    <h2 class="subsection-title">Social media, from most to least active</h2>
  </header>
  <ul class="social">
    <li class="social__icon github">
      <a href="https://github.com/melanierichards">Github</a>
    </li>
    <li class="social__icon twitter">
      <a href="https://twitter.com/somelaniesaid">Twitter</a>
    </li>
    <li class="social__icon goodreads">
      <a href="https://www.goodreads.com/melanierichards">GoodReads</a>
    </li>
    <li class="social__icon instagram">
      <a href="http://instagram.com/somelaniesaid">Instagram</a>
    </li>
    <li class="social__icon dribbble">
      <a href="https://dribbble.com/melanierichards">Dribbble</a>
    </li>
    <li class="social__icon linkedin">
      <a href="https://www.linkedin.com/in/richardsmelanie">LinkedIn</a>
    </a>
  </ul>
</section>