{% include head.html %}
{% include header.html %}

<h1 class="page-title">{{ page.title }}</h1>

<div class="page-body">

  <div class="now-image">
    {% include responsive-image.html border=item.web-frame baseSrc=page.feature-src ext=page.feature-ext max=page.feature-max-size alt=page.feature-alt %}
  </div>
  <p class="caption now-caption">{{ page.feature-caption }}</p>

  <div class="clear">
    <div class="now-content">
      {{ content }}
      <p class="now-credit">This page was inspired by <a href="http://www.jamestgreen.com/now">James T. Green</a>, who was inspired by <a href="https://sivers.org/nowff">Derek Sivers</a>.</p>
    </div>
    <div class="now-books">
      <h2>Currently reading</h2>
      <script src="https://www.goodreads.com/review/custom_widget/2236850.Currently%20reading?cover_position=middle&cover_size=medium&num_books=20&order=a&shelf=currently-reading&show_author=0&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=0&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1464588565&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
      <noscript>
        <p>Please enable Javascript in your browser to see a list of my current books.</p>
      </noscript>
      <p class="caption">
        <a href="https://www.goodreads.com/user/show/2236850-melanie-richards">See more of my books on Goodreads</a>
      </p>
    </div>
  </div>

</div>

{% include footer.html %}