<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title | escape }} | {% endif %} Melanie Richards | Seattle web design and development</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="robots" content="index, follow" />
  <link rel="icon" href="assets/images/favicon-16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="assets/images/favicon-32.png" sizes="32x32" type="image/png">
  <link rel="stylesheet" href="/assets/css/style.css" />

  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:type" content="website">
  {% if page.title %}
    <meta property="og:title" content="Content Title">
  {% endif %}
  {% if page.feature-src and page.feature-ext %}
    <meta property="og:image" content="{{ site.images}}/{{ page.feature-src}}-m.{{ page.feature-ext }}">
  {% endif %}
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="Melanie Richards | Seattle web design and development">
  <meta property="og:locale" content="en_US">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@somelaniesaid">
  <meta name="twitter:url" content="{{ page.url }}">
  {% if page.title %}
    <meta name="twitter:title" content="Content Title">
  {% endif %}
  {% if page.feature-src and page.feature-ext %}
    <meta name="twitter:image" content="{{ site.images}}/{{ page.feature-src}}-m.{{ page.feature-ext }}">
  {% endif %}

  {% include pin-verify.html %}

  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
  <![endif]-->

</head>
