/*
 *	SITE FOOTER
 *	---------------------------------------------
 */

.site-footer {
  border-top: 6px double $color-brand;

  .container {
    padding-top: 1em;
  }

}

.site-footer__social {
  margin-bottom: 0;

  li {
    margin-right: .25em;
  }

  .social__icon {
    width: 40px;
    height: 40px;
    background: transparent;

    &:hover {
      background: rgba(0,0,0,.1);
    }

    svg {
      margin-top: -10px;
      margin-left: -10px;
      width: 20px;
      height: 20px;

      g, path {
        fill: $color-brand;
      }

    }

  }

}

.site-footer__weather {
  @extend .caption;
}

@media (min-width: $bp-m) {

  .site-footer .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  .site-footer__weather {
    -webkit-flex: 1;
    flex: 1;
    max-width: none;
  }

}