/*
 *	BASIC LAYOUT STUFF
 *	---------------------------------------------
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: .75em;
  font: 125%/1.325 $font-body;
  color: $color-body;
}

:focus {
  outline: 1px dashed #000;
}

::selection {
	background: #ffc8b4;
	color: #000;
}
::-moz-selection {
	background: #ffc8b4;
	color: #000;
}

a:link, a:visited {
  padding-bottom: .03em;
  border-bottom: $link-border-style;
  text-decoration: none;
  color: $color-link;
  transition: background ease-in-out 200ms, border-color ease-in-out 200ms;
}

a:hover {
  border-color: $color-link-hover-bg;
  background-color: $color-link-hover-bg;
  color: $color-link-hover;
}

a:active {
  color: $color-link-hover;
}

a:focus {
  outline: none;
  border-color: $color-focus-bg;
  background-color: $color-focus-bg;
  color: #000;
  transition: none;
}

/*
 *	UTILITIES
 *	---------------------------------------------
 */

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

.clear {
  content: "";
  display: table;
  clear: both;
}

/*
 *	LAYOUT
 *	---------------------------------------------
 */

main {
  margin-bottom: 3em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 100em;
}

.page-body {
  margin-top: 1.5em;
}

%limit-width {
  max-width: 800px; /* Browsers that don't support rem */
  max-width: 50rem;
}

/*
 *	TYPOGRAPHY
 *	---------------------------------------------
 */

/* Limit width of typographic elements */
h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote,
time,
pre, code {
  @extend %limit-width;
}

h1, h2 {
  font-weight: 500;
  line-height: 1.125;
  color: $color-headings;
}

h1 {
  margin: 0 0 .75em;
  font-size: 1.5em;
}

h2,
.section-title {
  margin: 1.5em 0 .75em;
  font-weight: 500;
  font-size: 1.25em;
}

h3,
.subsection-title {
  margin: 1.5em 0 .75em;
  @include all-caps;
  font-weight: 500;
  font-size: .925em;
  color: $color-headings;
}

p, ul, ol {
  margin: 0 0 .625em;
  padding: 0;
}

ul, ol {
  padding-left: 1em;
}

li {
  margin-bottom: .25em;
}

li > ul,
li > ol {
  margin: .25em 0 0;
}

/* Feels a little bit icky but eh,
   probably better than scoping to a content class */
%nonstandard-list {
  padding-left: 0;
  list-style: none;
  max-width: 100%;
}

strong, b {
  font-weight: 500;
}

blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: $line-style;
  font-style: italic;
  color: $color-brand;
}

button,
.btn:link, .btn:visited {
  display: inline-block;
  margin-top: .5em;
  padding: .25em .75em;
  border: 2px solid $color-brand;
  font-size: 1em;
  color: $color-brand;
  transition: none;
}

button:hover,
.btn:hover {
  cursor: pointer;
  background: $color-brand;
  color: #fff;
}

button:active,
.btn:active {
  background: $color-focus-bg;
  color: $color-brand;
}

.meta {
  font-size: .75em;
  opacity: .8;
}

pre {
  margin: 1.5em 0;
}

pre code {
  display: block;
  border: 3px solid #bbb;
  border-color: rgba(0,0,0,.25);
  padding: 1em;
  white-space: pre-wrap;
  line-height: 1.5;
}

/*
 *	MEDIA QUERIES
 *	---------------------------------------------
 */

@media (min-width: $bp-s) {

  blockquote {
    margin: 1.25em 0 1.25em 1.25em;
    padding-right: 2.25em; /* Need to place right margin on padding, since width is limited */
  }

}

@media (min-width: $bp-m) {

  body {
    padding: .5em 1.5em;
    font-size: 137.5%;
  }

  .site-header .container,
  .site-footer .container {
    padding: 1em 0;
  }

}

@media (min-width: $bp-xxl) {

  body {
    padding: 1.5em 3em 3em;
    font-size: 150%;
  }

}