/*
 *	BASIC LAYOUT STUFF
 *	---------------------------------------------
 */

* {
  margin: 0rem; /* rem so IE8 gets default margins and padding */
  padding: 0rem;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font: 125%/1.325 $font-body;
  color: $color-body;
}

:focus {
  outline: 1px dashed #000;
}

a:link, a:visited {
  padding-bottom: .03em;
  border-bottom: 1px solid;
  text-decoration: none;
  color: $color-link;

  &:hover {
    border-bottom-width: 2px;
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }

}

/*
 *	UTILITIES
 *	---------------------------------------------
 */

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

.clear {
  content: "";
  display: table;
  clear: both;
}

/*
 *	TYPE RAMP
 *	---------------------------------------------
 */

h1, h2 {
  font-weight: 500;
  line-height: 1.125;
  color: $color-headings;

  a:link {
    color: $color-headings-link;
  }

  a:hover {
    color: $color-headings-link-hover;
  }

  a:active {
    color: $color-link-active;
  }

}

h1 {
  font-size: 1.5em;
}

h2, .section-header {
  margin-bottom: 1rem;
  font-size: 1.25em;
}

h3,
.subsection-title,
.meta-title {
  @include all-caps;
  font-weight: 400;
  font-size: .925em;
  color: $color-headings;
}

p, ul, ol {
  margin: 0 0 .625em;
  padding: 0;
}

/*
 *	LAYOUT
 *	---------------------------------------------
 */

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 100rem;
}

.page-body {
  margin-top: 1.5rem;
}

/*
 *	CONTENT BLOCKS
 *	---------------------------------------------
 */

%limit-width {
   max-width: 40rem;
}

img {
  max-width: 100%;
  height: auto;
}

.content-block {

  h1, h2, h3, h4, h5, h6,
  p, ul, ol, blockquote,
  time,
  pre, code,
  > a {
    @extend %limit-width;
  }

  h2 {
    margin-top: 1.5em;
  }

  h3 {
    margin-top: 2em;
  }

  strong, b {
    font-weight: 500;
  }

  ul, ol {
    padding-left: 1em;
  }

  li {
    margin-bottom: .25em;
  }

  li > ul {
    margin: .25em 0 0;
  }

  .media,
  .media--web {
    max-width: 100%;
  }

  .caption {
    font-size: 1.125rem;
    color: $color-secondary;
  }

}

/*
 *	SPECIAL MEDIA
 *	---------------------------------------------
 */

.media {
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }

  & + * {
    margin-top: 2rem;
  }

  & + .caption {
    margin: .5rem 0 2rem;
  }

}

.media--web {
  text-align: center;

  img {
    border: 4px solid #bbb;
    border-top-width: 20px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
  }

}

.vimeo {
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

/*
 *	MEDIA QUERIES
 *	---------------------------------------------
 */

@media (min-width: $bp-m) {

  body {
    padding: .5rem 2rem 2rem;
    font-size: 137.5%;
  }

  .site-header .container {
    padding: 1.5rem 0;
  }

  .media--web {
    padding: 1.5rem;
    background: #efefef;
  }

}

@media (min-width: $bp-l) {

  .media {
    margin-top: 3rem;

    & + * {
      margin-top: 3rem;
    }

    & + .caption {
      margin-bottom: 3rem;
    }

  }

  .media--web {
    padding: 3rem;
  }

}

@media (min-width: $bp-xl) {

  %limit-width {
    max-width: 50rem;
  }

}

@media (min-width: $bp-xxl) {

  body {
    padding: 1.5rem 3rem 3rem;
    font-size: 150%;
  }

}