/*
 *	SITE HEADER
 *	---------------------------------------------
 */

.site-header {
  margin-bottom: 2rem;

  a {
    border-bottom: 0;
    color: $color-headings-link;
  }

  a:hover {
    color: $color-link-hover;
  }

}

.brand,
.site-name {
  display: inline-block;
  vertical-align: middle;
}

.brand {
  width: 76px;
  height: 32px;
}

.site-name {
  margin-left: .75rem;
  font-weight: 500;
}

.site-nav {
  margin-top: 1rem;
  border-top: $line-style;
  border-bottom: $line-style;

  ul {
    list-style: none;
    margin: 0 0 0 -.75rem;
  }

  li {
    display: inline-block;
    margin: 0;
  }

  a {
    display: inline-block;
    padding: .75rem;
  }

}

@media (min-width: $bp-m) {

  .site-header {
    position: relative;
    text-align: right;

    .container {
      border-bottom: $line-style;
    }

    a {
      padding: .5rem;
    }

  }

  .brand {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    width: 95px;
    height: 40px;
  }

  .site-nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border: 0;

    ul {
      margin: 0 0 0 1rem;
    }

    li:last-child {
      margin-right: -.5rem;
    }

  }

}