/*
 *	SITE HEADER
 *	---------------------------------------------
 */

.site-header {
  margin-bottom: 1.5em;

  a {
    position: relative;
    border-bottom: 0;
    color: $color-brand;
    transition: color ease-in-out 200ms;
  }

  a:focus:before {
    display: none;
  }

  a:hover, a:active, .current {
    background: transparent;
    color: #d63800;
  }

}

.brand,
.site-name {
  display: inline-block;
  vertical-align: middle;
}

.brand {
  width: 76px;
  height: 32px;
}

.site-name {
  margin-left: .75em;
  font-weight: 500;
}

.site-nav {
  margin-top: 1em;
  border-top: $line-style;
  border-bottom: $line-style;

  ul {
    @extend %nonstandard-list;
    margin: 0 0 0 -.75em;
  }

  li {
    display: inline-block;
    margin: 0;
  }

  a {
    display: inline-block;
    padding: .75em;
  }

}

@media (min-width: $bp-m) {

  .site-header {
    position: relative;
    text-align: right;

    .container {
      border-bottom: $line-style;
    }

    a {
      padding: .5em 1em;
    }

    a:before {
      display: block;
      content: '';
      position: absolute;
      top: -3px;
      left: 50%;
      margin-left: -3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #d63800;
      opacity: 0;
      transition: opacity ease-in-out 200ms;
    }

    a:hover:before, a:active:before, .current:before {
      opacity: 1;
    }

  }

  .brand {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    width: 95px;
    height: 40px;
  }

  .site-nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border: 0;

    ul {
      margin: 0 0 0 1em;
    }

    li:last-child {
      margin-right: -.5em;
    }

  }

}